{% extends "layout.html" %}
{% block content %}

<div class="row">
    <h1 class="headings"><i class="bi bi-trophy heading-icon"></i> Achievements</h1>
    <div class="overflow-x-auto card2">
        <section>
            <div class="container py-5">
                <div class="achiev-main-timeline-2">
                    <div class="achiev-timeline-2 achiev-left-2">
                        <div class="card achiev-card-left">
                            <img src="{{ url_for('static', filename='achievments/ceh.jpg') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <a href="{{ url_for('static', filename='CEH.pdf') }}" style="text-decoration:none; color: #212529;">
                                <h4 class="fw-bold">CEH Certified</h4></a>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Sept 2022</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i> The CEH Practical certification denotes
                                        practical experience in cybersecurity defence against developing digital threats and demonstrates
                                        a thorough understanding of ethical hacking techniques performed in real-world circumstances.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achiev-timeline-2 achiev-right-2">
                        <div class="card achiev-card-right">
                            <img src="{{ url_for('static', filename='achievments/oci.png') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <a href="{{ url_for('static', filename='OCI Foundations Associate.pdf') }}" style="text-decoration:none; color: #212529;">
                                <h4 class="fw-bold">OCI Foundations Associate</h4></a>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Aug 2023</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i> The OCI Foundations Associate
                                        certification signifies practical expertise in cloud infrastructure management and
                                        reflects a comprehensive understanding of foundational cloud computing techniques
                                        applied in real-world scenarios.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achiev-timeline-2 achiev-left-2">
                        <div class="card achiev-card-left">
                            <img src="{{ url_for('static', filename='achievments/walt_disney.png') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">Workshop for Walt Disney</h4>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Nov 2021</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i> Leading a workshop for the Walt Disney 
                                        Singapore branch was an esteemed privilege I truly valued. The session focused on fostering 
                                        cyber awareness and sharing optimal security practices for employees.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achiev-timeline-2 achiev-right-2">
                        <div class="card achiev-card-right">
                            <img src="{{ url_for('static', filename='achievments/cisco.png') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">Cisco Net Academy Courses</h4>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Oct 2022</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i><strong>
                                            <a href="https://www.credly.com/badges/638b000b-095e-4904-9382-b45567b3ba62"  style="text-decoration:none; color: #212529;"> Introduction to Cybersecurity</a></strong> 
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i><strong>
                                            <a href="https://www.credly.com/badges/e272b9ec-2220-4f9b-ba60-2954f4f64af6"  style="text-decoration:none; color: #212529;"> Cybersecurity Essentials</a></strong> 
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i><strong>
                                            <a href="https://www.credly.com/badges/1d2c5b6f-cc5b-49a8-add0-b35fe1b895cf"  style="text-decoration:none; color: #212529;"> Networking Essentials</a></strong> 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achiev-timeline-2 achiev-left-2">
                        <div class="card achiev-card-left">
                            <img src="{{ url_for('static', filename='achievments/workshop1.png') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">Guest Speaker</h4>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Jan 2022</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i> I had the honor of being invited as a guest
                                        speaker to SHAH & ANCHOR KUTCHHI ENGINEERING COLLEGE, where I conducted a workshop for students
                                        focusing on cybersecurity and fostering cyber awareness.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achiev-timeline-2 achiev-right-2">
                        <div class="card achiev-card-right">
                            <img src="{{ url_for('static', filename='achievments/workshop2.png') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">Workshop on Cyber Crimes and Security</h4>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Dec 2021</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i> I had the honor of being invited as a guest 
                                        speaker for the International E Webinar hosted by the Tarangan Alumni Association, in 
                                        collaboration with L.T College of Nursing and S.N.D.T Women's University.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="achiev-timeline-2 achiev-left-2">
                        <div class="card achiev-card-left">
                            <img src="{{ url_for('static', filename='achievments/vit.png') }}" class="card-img-top achiev-img" alt="Responsive image">
                            <div class="card-body p-4">
                                <h4 class="fw-bold">Workshop on future of Cybersecurity and career</h4>
                                <p class="text-muted mb-4"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Sept 2021</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet-achiev"></i> I had the honor of being invited as a guest 
                                        speaker for the International E Webinar hosted by the Tarangan Alumni Association, in 
                                        collaboration with L.T College of Nursing and S.N.D.T Women's University.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </div>
    
</div>



{% endblock content %}