{% extends "layout.html" %}
{% block content %}

<div class="row">
    <h1 class="headings"><i class="bi bi-briefcase heading-icon"></i> Work Experience</h1>
    <div class="overflow-x-auto card2">
        <section>
            <div class="container py-5">
                <div class="work-main-timeline-2">
                    <div class="work-timeline-2 work-left-2">
                        <div class="card work-card-left">
                            <div class="card-body p-4">
                                <a href="https://www.getastra.com/" style="text-decoration:none; color: #212529;">
                                <h4 class="fw-bold">Astra Security <i class="bi bi-box-arrow-up-right" style="font-size: 0.7rem;"></i></h4></a>
                                <p class="text-muted mb-2"><mark class="work-role">Information Security Analyst Intern</mark></p>
                                <p class="text-muted mb-3"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Apr 2023 - Present</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Conduct regression testing on the web application, cloud services, APIs, and mobile applications.
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Work in close partnership with clients to address identified vulnerabilities, resulting in enhanced security for their systems and software.
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Secured over <strong>200+</strong> websites and APIs<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work-timeline-2 work-right-2">
                        <div class="card work-card-right">
                            <div class="card-body p-4">
                                <a href="https://digisec360.com/" style="text-decoration:none; color: #212529;">
                                <h4 class="fw-bold">Digisec360 <i class="bi bi-box-arrow-up-right" style="font-size: 0.7rem;"></i></h4></a>
                                <p class="text-muted mb-2"><mark class="work-role">Cyber Security Analyst Intern</mark></p>
                                <p class="text-muted mb-2"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Dec 2022 - Apr 2023</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Performed network-focused penetration testing to proactively identify vulnerabilities and security gaps in the organization's infrastructure and systems.
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Structure the penetration testing report with a risk-focused summary, detailed vulnerability findings, prioritized remediation roadmap, and technical evidence to compellingly drive security improvements.
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Conducted comprehensive security assessments to reveal potential vulnerabilities.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work-timeline-2 work-left-2">
                        <div class="card work-card-left">
                            <div class="card-body p-4">
                                <a href="https://www.getastra.com/" style="text-decoration:none; color: #212529;">
                                <h4 class="fw-bold">Astra Security <i class="bi bi-box-arrow-up-right" style="font-size: 0.7rem;"></i></h4></a>
                                <p class="text-muted mb-2"><mark class="work-role">Information Security Analyst Intern</mark></p>
                                <p class="text-muted mb-3"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Jan 2022 - Sept 2022</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Conducted regression testing on the web application, cloud services, APIs, and mobile applications.
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Worked in close partnership with clients to address identified vulnerabilities, resulting in enhanced security for their systems and software.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work-timeline-2 work-right-2">
                        <div class="card work-card-right">
                            <div class="card-body p-4">
                                <a href="https://skynetsecure.com/" style="text-decoration:none; color: #212529;">
                                <h4 class="fw-bold">Skynet Secure Solution <i class="bi bi-box-arrow-up-right" style="font-size: 0.7rem;"></i></h4></a>
                                <p class="text-muted mb-2"><mark class="work-role">Cyber Security Analyst Intern</mark></p>
                                <p class="text-muted mb-3"><i class="bi bi-calendar3 m-2" aria-hidden="true"></i>Jul 2021 - Jan 2022</p>
                                <div class="mb-0">
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Provided professional safety reports and insightful data analysis on security protocols to building managers
                                    </p>
                                        <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Leveraged vigilant virus activity monitoring, strategic antivirus update timing, and sound judgment to optimize professional management of virus protection.
                                    </p>
                                    <p>
                                        <i class="bi bi-caret-right-fill bullet"></i> Conducted enlightening sessions and extensive training programs to educate users about information security policies, protocols, and effective preparation for the <mark class="work-role" style="background-color: rgb(164, 219, 179);">CEH exam</mark><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </div>
    
</div>



{% endblock content %}