{% extends "layout.html" %}
{% block content %}

<div class="row">
    <h1 class="headings"><i class="bi bi-person heading-icon"></i> About</h1>
    <div class="overflow-x-auto pt-5 card2" style="font-size: 1.2rem;">
        <div class="p-5 pb-0">
        <p>
            <i class="bi bi-caret-right-fill bullet-project" style="color: rgb(44, 112, 184);"></i> I'm a computer science engineer, my dedication to cybersecurity propels me, and I've gained a valuable repository
            of knowledge and expertise from my internships and engaging talks. My credentials include being a
            certified Ethical Hacker with a certificate 
            <ul class="home-cert">
                <li>
                    <strong>CEH v11</strong>
                </li>
                <li>
                    <strong>OCI Fundamental Architect</strong>
                </li>
            </ul>
            <i class="bi bi-caret-right-fill bullet-project" style="color: rgb(44, 112, 184);"></i> With a robust 2+ years of hands-on experience, I've secured over 
        <strong>500+ websites along with networks, and APIs</strong>, adding practical depth to my skills.
        </p>
    </div>
        <p class="p-5 pt-2">
            <i class="bi bi-caret-right-fill bullet-project" style="color: rgb(44, 112, 184);"></i> My journey extends beyond cybersecurity, encompassing a solid grasp of DevOps principles and web development intricacies.
            Proficiency in frameworks such as <strong>Flask</strong> and <strong>Django</strong> enables me to craft robust and dynamic web applications.
            This holistic approach to technology equips me with a unique perspective that bridges security and development.
        </p>
    </div>
    
</div>



{% endblock content %}