{% extends "layout.html" %}
{% block content %}

<div class="row">
    <h1 class="headings"><i class="bi bi-pencil-square heading-icon"></i> Projects</h1>
    <div class="overflow-x-auto card2">
        <div class="row mb-5" data-masonry   ='{"percentPosition": true }'>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/Scanner" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Vulnerability Scanner</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> The project aimed to create a platform automating
                                security research tasks, helping experts find basic web application vulnerabilities. The platform
                                offers a user interface for initiating, running, and stopping scans with ease.
                            </p>
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> The scanner presents all findings on the
                                dashboard and additionally sends a copy of the report to the user via email.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(255, 170, 166);">Frontend</mark>
                                <mark class="project-badge" style="background-color: rgb(123, 162, 229);">Backend</mark>
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(105, 249, 97, 0.839);">Automation</mark>
                                <mark class="project-badge" style="background-color: rgb(20, 142, 186);">Docker</mark>
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(203, 191, 64);">Script</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/Rubber-ducky-digispark" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Digispark Scripts</i></h5></a>
                        <div class="mb-0">
                            <p>
                                <i class="bi bi-caret-right-fill bullet-project"></i> The objective of this project was to generate
                                diverse scripts for Digispark, an Arduino microprocessor characterized by a USB Type-A input.
                            </p>
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> Utilized this code to make it function akin
                                to a Rubber Ducky. Upon insertion into a computer, it would identify itself as a
                                keyboard and carry out the designated keystrokes as instructed.                                
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(203, 191, 64);">Script</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/Assistant" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Python Assistant</i></h5></a>
                        <div class="mb-0">
                            <p>
                                <i class="bi bi-caret-right-fill bullet-project"></i> The aim of this project was to develop a Python
                                program capable of receiving user instructions through voice input, and subsequently executing
                                various actions accordingly.
                            </p>
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> These instructions encompass a range of tasks
                                such as web searches, email composition, video playback, and more. The program also encompasses
                                system processes and incorporates facial recognition functionality.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(203, 191, 64);">Script</mark> 
                                <mark class="project-badge" style="background-color: rgba(105, 249, 97, 0.839);">Automation</mark>
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgba(249, 181, 97, 0.839);">OpenCV</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/Python-Scripts" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Python Scripts</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> Within the repository are Python scripts that 
                                I crafted during the initial stages of my journey into cybersecurity and Python programming.
                                These scripts encompass intriguing processes, viewed from the perspective of a hacker.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(203, 191, 64);">Script</mark> 
                                <mark class="project-badge" style="background-color: rgba(105, 249, 97, 0.839);">Automation</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Vishvam10/Jack-Chatbot-Plugin" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Jack - AI Chatbot Plugin</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> This is a chrome extension that provides a
                                powerful AI chatbot to talk to. It leverages the OpenAI's Chat API ( gpt3.5-turbo ) and answers
                                questions related to the site that you are currently at.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(255, 170, 166);">Frontend</mark>
                                <mark class="project-badge" style="background-color: rgb(123, 162, 229);">Backend</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/Portfolio" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Portfolio in Flask</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> The aim of this project is to develop a
                                straightforward portfolio that allows me to present my skills and accomplishments effectively.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(255, 170, 166);">Frontend</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/Set-Ansible" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Setup Kubernetes via Ansible</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> The repository includes a straightforward
                                steps and requirments to set up Kubernetes, Docker over AWS using Ansible.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(255, 170, 166);">Frontend</mark>
                                <mark class="project-badge" style="background-color: rgb(123, 162, 229);">Backend</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="https://github.com/Geni-Wazir/flaskblog" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">Blogging website in Flask</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> The repository includes a straightforward
                                blog website crafted using HTML, CSS, and JS within the FLask, enabling users to generate
                                and publish their own blogs.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(255, 170, 166);">Frontend</mark>
                                <mark class="project-badge" style="background-color: rgb(123, 162, 229);">Backend</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm mb-3 project-card">
                <div class="card project">
                    <div class="card-body">
                        <a href="{{ url_for('static', filename='Writeup.pdf') }}" style="text-decoration:none; color: #212529;">
                        <h5 class="fw-bold mb-3">CTF for SiNUsoidV5</i></h5></a>
                        <div class="mb-0">
                            <p class="mb-4">
                                <i class="bi bi-caret-right-fill bullet-project"></i> Hosted and formulated queries for
                                NIIT University's tech fest "SiNUsoid v5". The inquiries span diverse categories
                                such as <strong>Cryptography, Web Application, System, Reverse Engineering, and OSINT</strong>.
                            </p>
                            <p>
                                <mark class="project-badge" style="background-color: rgb(203, 191, 64);">Script</mark>
                            </p>
                            <p>
                                <i class="bi bi-github" style="font-size: 1.6rem;"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}